<div class="container" style="background: white" >
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <h1>Küsimuste korral võtke julgelt meiega ühendust!</h1>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--      <div class="col"></div>-->
<!--      <div class="col-10"><h1>Telefon: +372 113 448 12</h1></div>-->
<!--      <div class="col"></div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--      <div class="col"></div>-->
<!--      <div class="col-8"><h1>email: help@skoop.taltech.ee</h1></div>-->
<!--      <div class="col"></div>-->
<!--  </div>-->
      <h1 class="mt-5">Kontakt</h1>

</div>
<div class="container" style="background: #F6F6F8">
  <div class="h-75 mt-5 row">
    <div class="col-md-12 col-lg-8">
      <div class="row ml-5 pt-3">
        <div class="col-xl-12">
          <h3>
            Telfon nr.
          </h3>
          <p>
            555 555 555
          </p>
          <h3>
            Aadress
          </h3>
          <p>
            Ehitajate tee 5
          </p>
          <h3>
            E-Mail
          </h3>
          <p>
            help@skoop.taltech.ee
          </p>
  <!--        <div class="d-flex justify-content-center mt-3">-->
  <!--          <div class="card">-->
  <!--            <h3 class="title">Telefon</h3>-->
  <!--            <div class="bar">-->
  <!--              <div class="emptybar"></div>-->
  <!--              <div class="filledbar"></div>-->
  <!--            </div>-->
  <!--            <div class="inner-card">-->
  <!--              <h3>5545454</h3>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--          <div class="card">-->
  <!--            <h3 class="title">Email</h3>-->
  <!--            <div class="bar">-->
  <!--              <div class="emptybar"></div>-->
  <!--              <div class="filledbar"></div>-->
  <!--            </div>-->
  <!--            <div class="inner-card">-->
  <!--              help@skoop.taltech.ee-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
        </div>
      </div>
    </div>
<!--    <div class="col-md-12 col-lg-8">-->
<!--      <div class="row ml-5 pt-3">-->
<!--        <div class="col-xl-12">-->
<!--          <h3>-->
<!--            Telfon nr.-->
<!--          </h3>-->
<!--          <p>-->
<!--            555 555 555-->
<!--          </p>-->
<!--          <h3>-->
<!--            Aadress-->
<!--          </h3>-->
<!--          <p>-->
<!--            Ehitajate tee 5-->
<!--          </p>-->
<!--          <h3>-->
<!--            E-Mail-->
<!--          </h3>-->
<!--          <p>-->
<!--            help@skoop.taltech.ee-->
<!--          </p>-->
<!--          &lt;!&ndash;        <div class="d-flex justify-content-center mt-3">&ndash;&gt;-->
<!--          &lt;!&ndash;          <div class="card">&ndash;&gt;-->
<!--          &lt;!&ndash;            <h3 class="title">Telefon</h3>&ndash;&gt;-->
<!--          &lt;!&ndash;            <div class="bar">&ndash;&gt;-->
<!--          &lt;!&ndash;              <div class="emptybar"></div>&ndash;&gt;-->
<!--          &lt;!&ndash;              <div class="filledbar"></div>&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;            <div class="inner-card">&ndash;&gt;-->
<!--          &lt;!&ndash;              <h3>5545454</h3>&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          <div class="card">&ndash;&gt;-->
<!--          &lt;!&ndash;            <h3 class="title">Email</h3>&ndash;&gt;-->
<!--          &lt;!&ndash;            <div class="bar">&ndash;&gt;-->
<!--          &lt;!&ndash;              <div class="emptybar"></div>&ndash;&gt;-->
<!--          &lt;!&ndash;              <div class="filledbar"></div>&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;            <div class="inner-card">&ndash;&gt;-->
<!--          &lt;!&ndash;              help@skoop.taltech.ee&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-lg-4 d-none d-lg-block">
            <h2 class="mt-4">Küsimuste korral võtke julgelt meiega ühendust!</h2>
    </div>
  </div>
</div>
