<div class="container" [ngClass]="bgService.getClassNameForImg()">
  <div class="row">
    <div class="col-12">
      <h1>Küsimuste korral võtke julgelt meiega ühendust!</h1>
    </div>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col-6"><h1>Telefon: +372 113 448 12</h1></div>
      <div class="col"></div>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col-6"><h1>email: help@skoop.taltech.ee</h1></div>
      <div class="col"></div>
  </div>
</div>
