<div class="container col-lg-6 align-self-center text-center mt-4">
  <label class="h4" for="insertTeamName" >Sisesta tiimi nimi</label>
  <form class="form-row align-items-center">
    <div class="col col-2 h-25 w-auto mx-auto">
    </div>
    <div class="col">
      <input id="insertTeamName" class="form-control mx-auto w-75 ">
    </div>
    <div class="col col-2 h-25 w-auto mx-auto">
      <a class="h4" routerLink="/tiimiRegamine">
        <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path  fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
      </a>
    </div>
  </form>
</div>

<div class="container text-center your-rooms mt-4">
  <label class="display-4 font-weight-bold">Meeskonnad</label>
</div>
<div class="container ">
  <table class="table table-bordered text-white container-table">
    <tbody>
    <tr *ngFor="let team of teams; index as i">
      <td>
        <span>{{ team.name }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container text-center your-rooms mt-4">
  <label class="display-4 font-weight-bold">Ootame mängijaid...</label>
</div>
<div class="row text-center your-rooms mt-4 ">
  <div class="col col-9"></div>
  <div class="col col-1 h-25 w-auto mx-auto">
    <label class="text-white display-4" >Alusta</label>
  </div>
  <div class="col col-1 h-25 w-auto mx-auto">
    <a class="h1" routerLink="/map">
      <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path  fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </a>
  </div>
</div>
