<div class="row">
  <div class="col-4">
    <a class="navbar-brand" href="#">
      <img src="assets/logo_white.png" alt="" style="width: 155px">
    </a>
  </div>
  <div class="col align-self-center">

    <button class="btn underline-btn">Avaleht</button>
  </div>
  <div class="col align-self-center">
    <button class="btn underline-btn">Mängima</button>
  </div>
  <div class="col align-self-center">
    <button class="btn underline-btn">KKK</button>
  </div>
  <div class="col align-self-center">
    <button class="btn underline-btn">Kontakt</button>
  </div>
  <div class="col-4 align-self-center">
    <button class="btn float-right">Logi Sisse</button>
  </div>
</div>
