<div class="container-fluid">
  <div class="row m-0">

    <div class="col-lg-3 col-md my-auto">
      <img src="assets/logo_white.png" alt="" style="width: 155px">
    </div>

    <div class="col-lg col-md m-auto">
      <button class="btn underline-btn" routerLink=""><span>Avaleht</span></button>
    </div>

    <div class="col-lg col-md  my-auto">
      <button class="btn underline-btn" routerLink="/mang">Mängima</button>
    </div>

    <div class="col-lg col-md  my-auto">
      <button class="btn underline-btn" routerLink="/kkk">KKK</button>
    </div>

    <div class="col-lg col-md my-auto ">
      <button class="btn underline-btn" routerLink="/kontakt">Kontakt</button>
    </div>

    <div class="col-lg-3 col-md my-auto" [ngSwitch]="loginStatus()">
      <button *ngSwitchCase="true" class="btn float-right" (click)="logout()" >Logi välja</button>
      <button *ngSwitchCase="false" class="btn float-right" routerLink="/login">Logi sisse</button>
    </div>
  </div>
</div>
