<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo_white.png" alt="" style="width: 155px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mx-auto ">
        <div class="nav-item mx-4">
          <button class="btn underline-btn">Avaleht</button>
        </div>
        <div class="nav-item mx-4">
          <button class="btn underline-btn">Mängima</button>
        </div>
        <div class="nav-item mx-4">
          <button class="btn underline-btn">KKK</button>
        </div>
        <div class="nav-item mx-4">
          <button class="btn underline-btn">Kontakt</button>
        </div>
      </ul>
      <div class="nav-item mx-4">
        <button class="btn">Logi sisse</button>
      </div>
    </div>
  </div>
</nav>
