<div class="container">
  <table class="table table-striped text-white">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ruum</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms; index as i">
      <th scope="row">{{ i + 1 }} </th>
      <td>
        <span (blur)="updateList(i, 'name', $event)"> {{ room.name }} </span>
        <input type="text" class="form-control" [(ngModel)]="room.name" *ngIf="enableEdit"/>

      </td>
      <td><button class="btn btn-success">Mängi</button></td>
      <td><button class="btn btn-primary" *ngIf="!enableEdit" (click)="enableEditMethod($event, i)">Muuda</button>
      <button *ngIf="enableEdit && enableEditIndex == i" class="btn btn-primary"
                  (click)="save(i, room.name, $event)">Save</button></td>
      <td><button class="btn btn-danger" (click)="remove(i)">Kustuta</button></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-info float-right" (click)="add()">Loo uus ruum</button>
</div>
