<div class='container'>
  <div class="form-group space-up">
    <label for="questionsets" class="font-weight-bold col-sm-2 col-form-label">Question Set</label>
    <select id="questionsets" [(ngModel)]="selectedQuestionSet" (change)="updateQuestion()" class="form-control">
      <option *ngFor="let c of questionSetdata" [ngValue]="c.id">{{c.name}}</option>
    </select>
    <label for="locationsets" class="font-weight-bold col-sm-2 col-form-label">Location Set</label>
    <select id="locationsets" [(ngModel)]="selectedLocationSet" (change)="updateLocation()" class="form-control">
      <option *ngFor="let c of locationSetdata" [ngValue]="c.id">{{c.name}}</option>
    </select>
  </div>
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-info mr-1" (click)="addPair()">Salvesta</button>
    <button type="button" class="btn btn-danger mr-1" (click)="deletePairs()">Kustuta Paarid</button>
    <button type="button" class="btn btn-info" routerLink="/ruumid">Mine Tagasi</button>
  </div>
  <simple-notifications></simple-notifications>
</div>
