<div class="container h-75">
  <div class="row h-100">
    <div class="col-lg">
        <div class="col">
          <a href="/homepage">
          <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
            </a>
      </div>
    </div>
    <div class="col-lg-6 align-self-center text-center">
      <label class="h4 text-white" for="insertRoomNr" >Sisesta ruumi kood</label>
      <form class="form-row align-items-center">
        <div class="col">
          <input id="insertRoomNr" class="form-control mx-auto w-75 ">
        </div>

        <div class="col col-2 h-25 w-auto mx-auto">
            <a class="h4" href="">
          <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path  fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
            </a>
        </div>
      </form>
      <a href="" class="text-white h4">Loo uus ruum? </a>
    </div>

    <div class="col-lg">
    </div>
  </div>
</div>
