
<div id="map" class="map"></div>

<!-- Modal -->
<div class="modal fade" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Vasta</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="quizopen; else elseBlock">
          <form [formGroup]="form" (ngSubmit)="checkanswer()">
            <div class="form-group">
                <label for="answers">{{question}}</label>
                <select formControlName="answers" id="answers" class="form-control">
                  <option *ngFor="let answer of answers; let i = index" [value]="answers[i].id">
                    {{answers[i].name}}
                  </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Vasta</button>
          </form>
       </div>
       <ng-template #elseBlock>Game over you scored: {{score}}
        <div class="modal-footer">
          <button class="btn btn-primary" routerLink="/mang" data-dismiss="modal">Back to menu</button>
        </div>
       </ng-template>
      </div>
    </div>
  </div>
</div>

