
<div class="sidepanel container-fluid">
  <div class="row">
    <br>
    <div class="col-6">
      <div class='ml-2 row mx-auto'>
        <span class='h5 text-light'>Skoor</span>
      </div>
      <div class='ml-2 row'>
        <span class='icon'>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
      </span>
        <span class='ml-3 h5 text-light'>{{score}}</span>
      </div>
    </div>
    <div class="col-6">
      <div class='row'>
        <span class='h5 text-light'>Markereid alles</span>
      </div>
      <div class='row'>
        <span class='icon'>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
      </span>
        <span class='ml-3 h5 text-light'>{{amount}}</span>
      </div>
    </div>
  </div>
</div>
<div id="map" class="map"></div>

<jw-modal id="checkBoxQuestion">
  <div class="modal-content">
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="checkanswer('CHECKBOX')">
          <p class='h2'>{{questionText}}</p>
          <div class="form-check" *ngFor="let choice of choices">
            <input class="form-check-input-lg" (change)="onChange(choice, $event.target.checked)"name="{{ choice }}" type="checkbox" id="{{choice}}">
            <label class="form-check-label" for="{{choice}}">
                <p class='h3'>  {{choice}}</p>
            </label>
          </div>
          <button type="submit" class="btn btn-primary float-right">Vasta</button>
        </form>
    </div>
  </div>
</jw-modal>

<jw-modal id="textQuestion">
  <div class="modal-content">
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="checkanswer('TEXT')">
          <div class="form-group">
              <label for="answer" class='h2'>{{questionText}}</label>
              <p class='h4'>Hint:  {{hint}}</p>
              <input [(ngModel)]="textAnswer" id="answer" placeholder="Kirjutage vastus" class="form-control" required [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" class="btn btn-primary float-right">Vasta</button>
        </form>
    </div>
  </div>
</jw-modal>

<jw-modal id="multipleChoiceQuestion">
  <div class="modal-content">
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="checkanswer('MULTIPLE_CHOICE')">
          <div class="form-group">
              <label for="answers" class='h2'>{{questionText}}</label>
              <select [(ngModel)]="selectedAnswer" formControlName="answers" id="answers" class="form-control">
                <option *ngFor="let choice of choices; let i = index" [ngValue]="choice" class='h3'>
                  <p>{{choices[i]}}</p>
                </option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary float-right">Vasta</button>
        </form>
    </div>
  </div>
</jw-modal>

<jw-modal id="correctAnswer">
  <p class="h2">Õige vastus. Te saite {{pointsTrue}} punkti</p>
  <br>
  <p class="h2">Teie skoor on nüüd {{score}}</p>
</jw-modal>

<jw-modal id="wrongAnswerText">
  <p class="h2">Teie vastus oli vale. Õige vastus {{answer}}</p>
  <br>
  <p class="h2">Teie skoor on nüüd {{score}}</p>
</jw-modal>

<jw-modal id="wrongAnswerCheckBox">
  <p class="h2">Teie vastus oli vale. Õiged vastused olid {{answers}}</p>
  <br>
  <p class="h2">Teie skoor on nüüd {{score}}</p>
</jw-modal>

<jw-modal id="wrongAnswerMultipleChoice">
  <p class="h2">Teie vastus oli vale. Õige vastus oli {{answer}}</p>
  <br>
  <p class="h2">Teie skoor on nüüd {{score}}</p>
</jw-modal>

<jw-modal id="gameEnded">
    <p class='h2'>Game over. Score: {{score}}</p>
    <div class="modal-footer">
      <button class="btn btn-primary" routerLink="/mang" data-dismiss="modal">Tagasi menusse</button>
    </div>
</jw-modal>
