<div class="container" [ngClass]="bgService.getClassNameForImg()">
<!--  <div class="space-up" [ngClass]="bgService.getClassNameForImg()">-->
<!--    <div class="input-group">-->
<!--      <div class="input-group-prepend">-->
<!--        <button class="btn btn-secondary" id="button-addon1" (click)="addRoom()">Lisa uus ruum</button>-->
<!--      </div>-->
<!--      <input type="text" class="form-control" placeholder="Uue kaardikomplekti nimi" id='input'>-->
<!--    </div>-->
<!--    <table class="table table-striped table-dark overflow-auto">-->
<!--      <thead>-->
<!--          <tr>-->
<!--              <th>Ruumi nimi</th>-->
<!--          </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--          <tr *ngFor="let room of rooms; index as i">-->
<!--              <td>{{room.gameName}}</td>-->
<!--              <td><a [routerLink]="['/aktiivsedruumid', room.id]" class="btn btn-primary">Aktiveeri Mängu</a></td>-->
<!--              <td><a [routerLink]="['/ruumid', room.id]" class="btn btn-primary"> Muuda Mängu</a></td>-->
<!--              <td><button class="btn btn-danger" (click)="removeRoom(room)">Kustuta</button></td>-->
<!--          </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <div class="row fixed-bottom mx-auto">-->
<!--      <div class="col-6">-->
<!--        <button class="btn btn-info float-right" routerLink="/questionsets">Loo uus küsimustik</button>-->
<!--      </div>-->
<!--      <div class="col-6">-->
<!--        <button class="btn btn-info float-left" routerLink="/createlocation">Loo uus kaardikomplekt</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <div class="col-md-3 col-sm-6 mt-3">
      <div class="card item-card card-block text-center" data-toggle="modal" data-target="#exampleModal">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path id="plus1" fill="#342b60" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path id="plus2" fill="#342b60" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </div>
        <h3 class="item-card-title mt-3 mb-3">Lisa Uus Ruum</h3>
        <p class="card-text">Vajuta siia, et luua uus ruum</p>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="createNewRoom" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="createNewRoom">Loo uus ruum</h1>
            <button type="button" class="close h3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" name="name" class="question" id="input" required autocomplete="off" />
            <label for="input"><span>Ruumi nimi</span></label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Sulge</button>
            <button type="button" class="btn btn-primary" (click)="addRoom()">Lisa uus ruum</button>
          </div>
        </div>
      </div>
    </div>

    <!--          <tr *ngFor="let room of rooms; index as i">-->
    <!--              <td>{{room.gameName}}</td>-->
    <!--              <td><a [routerLink]="['/aktiivsedruumid', room.id]" class="btn btn-primary">Aktiveeri Mängu</a></td>-->
    <!--              <td><a [routerLink]="['/ruumid', room.id]" class="btn btn-primary"> Muuda Mängu</a></td>-->
    <!--              <td><button class="btn btn-danger" (click)="removeRoom(room)">Kustuta</button></td>-->
    <!--          </tr>-->

    <div class="col-md-3 col-sm-6 mt-3" *ngFor="let room of rooms; index as i" [routerLink]="['/ruumid', room.id]">
      <div class="card item-card card-block text-center">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
        </div>
        <h3 class="item-card-title mt-3 mb-3">{{room.gameName}}</h3>
        <p class="card-text">Vajuta siia, et muuta ruumi</p>
      </div>
    </div>

  </div>
</div>
