<div class="container text-center your-rooms">
  <div class="row">
    <div class="col">
    <label class="display-4">Sinu ruumid</label>
    </div>
  </div>
  <div class="row container-table overflow-auto">
    <div class="col">
    <table class="table table-striped text-white ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ruum</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms; index as i">
        <th scope="row">{{ i + 1 }} </th>
        <td>
          <span (blur)="updateList(i, 'name', $event)"> {{ room.name }} </span>
          <input type="text" class="form-control" [(ngModel)]="room.name" *ngIf="enableEdit"/>
        </td>
        <td><button class="btn btn-success">Mängi</button></td>
        <td><button class="btn btn-primary" *ngIf="!enableEdit" (click)="enableEditMethod($event, i)">Muuda</button>
          <button *ngIf="enableEdit && enableEditIndex == i" class="btn btn-primary"
                  (click)="save(i, room.name, $event)">Save</button></td>
        <td><button class="btn btn-danger" (click)="remove(i)">Kustuta</button></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="row fixed-bottom mx-auto">
    <div class="col-4">
      <button class="btn btn-info" routerLink="/questionSet" (click)="addQuestions()">Loo uus küsimustik</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info" (click)="addRoom()">Loo uus ruum</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info" routerLink="/createmap" (click)="addLocations()">Loo uus kaardikomplekt</button>
    </div>
  </div>
</div>
