<div class="container" [ngClass]="bgService.getClassNameForImg()">
  <div class="row">
    <div [className]="setClassNames()">
      <h1>Kuidas ma saan liituda mänguga?</h1>
      <h2>- Vajutades nuppu "mängima", saad liituda ruumiga, kui sul on kood olemas. Kui ei ole, siis saad luua enda ruumi.
      </h2>
    </div>
  </div>
  <div class="row">
    <div [className]="setClassNames()">
      <h1>Kuidas ma saan sisse logida?</h1>
      <h2>- Logida saab sisse ainult juhul kui sul on UNI-ID. Vajuta nupule "Logi Sisse" ja saad selle kaudu UNI-IDga
        mängida.</h2>
    </div>
  </div>
  <div class="row">
    <div [className]="setClassNames()">
      <h1>Kas ma pean mängimise eest tasuma?</h1>
      <h2>- Ei, kõik on tasuta.</h2>
    </div>
  </div>
</div>
