h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 80px;
  text-shadow: 3px 3px #000000;
}

@media (max-width: 509px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 460px) {
  .rounded-pill {
    margin-bottom: 10px;
  }
}

.btn {
  height: 70px;
  width: 200px;
}
span {
  font-size: 20px;
  padding: 3px;
}
.buttons {
  margin-top: 80px
}
